/* === Utilities Center === */

.u-absolute-center {
    left              : 50%;
    position          : absolute;
    top               : 50%;
    transform         : translate(-50%, -50%);
    -ms-transform     : translate(-50%, -50%);
    -o-transform      : translate(-50%, -50%);
    -webkit-transform : translate(-50%, -50%);
}

.u-horizontal-center {
    left              : 50%;
    position          : absolute;
    transform         : translateX(-50%);
    -ms-transform     : translateX(-50%);
    -o-transform      : translateX(-50%);
    -webkit-transform : translateX(-50%);
}

.u-vertical-center {
    position          : absolute;
    top               : 50%;
    transform         : translateY(-50%);
    -ms-transform     : translateY(-50%);
    -o-transform      : translateY(-50%);
    -webkit-transform : translateY(-50%);
}
