$root-font-size: 16px !default;

$base-background-color: #fff !default;
$base-font-color: #333 !default;
$base-font-family: Helvetica Neue, Arial, sans-serif !default;
$base-font-size: $root-font-size !default;
$base-line-height: 21px !default;
